@font-face {
    font-family: 'Bogart';
    src: url('../fonts/Bogart-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
 
 body {
    margin: 0;
    font-family: "Bogart", sans-serif;
    color: #6C6040;
  }

  .navbar {
    background-color: #D1C7C0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: .8rem;
  }

  .brand, .dropdownLink {
    /* margin: 10px; */
  }

  .brand {
    margin: 10px;
    font-weight: bold;
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 10px;
  }

  /* .nav-link {
    text-decoration: none;
    margin: 10px;
    color: #6C6040;
  } */

  .menu * {
    text-decoration: none;
    color: #6C6040;
  }

  .menu .menu-item {
    padding: 5px;
  }

  .menu-item {
    display: none;
    order: 1;
  }

  .dropdownLink {
    display: block;
    order: 0;
  }

  .menu.open {
    flex-direction: column;
    text-align: right;
    padding-bottom: 20px;
    align-items: flex-end;
  }

  ul.menu.open li:nth-child(n-1) {
    order: -1
  }

  ul.menu.open .menu-item {
    display: block;
    order: 0;
  }

  ul.menu li.dropdownLink, ul.menu.open li.dropdownLink {
      display: block;
      position: absolute; 
      top: 8px;
      right: 15px;
  }

  ul.menu.open li {
      position: relative;
      top: 30px;
      /* right: 20px; */
      align-self: right;
      text-align: right;
  }

  .intro-section {
    /* display: flex; */
    /* margin: auto; */
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
  }

  .intro-pic {
    width: 100%;
    display: block; /* removes extra container space beneath image */
    /* height: 100%; */
    /* object-fit: cover; */
    /* object-position: top 0 right 10px; */
    /* object-position: center 40%;
    transition: transform 0.3s ease; Adds smooth zoom effect */

    /* margin: auto; */
  }

  .title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 5%;
    left: 5%;
  }

  .title-box {
    /* background-color: #EFE9E4; */
    background-color: #D1C7C0;
    /* position: absolute;
    top: 5%;
    left: 5%; */
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    /* font-size: clamp(1rem, 2.5vw, 3rem); */
    font-size: clamp(1rem, 4vw, 5rem)  
}

  .title-secondary {
    /* background-color: #EFE9E4; */
    background-color: #D1C7C0;
    /* position: absolute; */
    /* top: 17%;
    left: 5%; */
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5vw;
    align-self: flex-start;
  }

  .second-section {
    background-color: grey;
    height: 150vh;
  }

  @media (min-width:760px) {

    .brand {
        margin: 20px;
    }

    .navbar {
        font-size: 1rem;
    }

    ul.menu li a.menu-item {
        display: block;
        order: 0;
    }

    .dropdownLink a {
        display: none;
    }




  }



  /* @media (max-width: 760px) {
    ul.menu li a.nav-link {
      display: none;
    }

    .dropdownLink {
      display:block;
    }

    ul.menu.open {
      flex-direction: column;
      text-align: right;
      padding-bottom: 20px;
    }

    ul.menu.open .nav-link {
      display: block;
    }

    ul.menu li.dropdownLink, ul.menu.open li.dropdownLink {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    ul.menu.open li {
        position: relative;
        top: 30px;
        right: 20px;
    }

  } */
